<main>
    <section id="section-banner">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/stardew.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/steven.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/thesims4.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Jogos em Promoção!</h2>
    
    
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/jogo1.webp" alt="Photo of Street Fighter 6 para PS5">
                <mat-card-header>
        
                    <mat-card-title>Street Fighter 6 para PS5</mat-card-title>
        
                </mat-card-header>
        
        
                <mat-card-actions>
                    <p>R$ 249,99</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/homemaranha.webp" alt="Photo of NBA 2K24 para PS5 Take Two">
                <mat-card-header>
        
                    <mat-card-title>NBA 2K24 para PS5 Take Two</mat-card-title>
        
                </mat-card-header>
    
                <mat-card-actions>
                    <p>R$ 199,90</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/jogo2.webp" alt="Photo of Spider-Man 2 para PS5">
                <mat-card-header>
        
                    <mat-card-title>Spider-Man 2 para PS5</mat-card-title>
        
                </mat-card-header>
        
                <mat-card-actions>
                    <p>R$ 219,99</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        
      </mat-grid-list>
      

</main>