main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 810px;
    background: url(https://cdnb.artstation.com/p/assets/images/images/038/935/389/large/raoni-dorim-mountains-night-highress.jpg?1624474759) no-repeat;
    background-size: cover;
}

#section-login {
    height: 100%;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 30px 40px;

    h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        font-family: "Poppins";
        font-weight: bolder;
    }

    input {
        color: #fff;
        background-color: transparent;
        width: 100%;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border: 1px solid rgba(255, 255, 255, .2);
        font-family: 'Poppins';
        font-size: 15px;
    }

    ::placeholder {
        color: #fff;
        opacity: 60%;
    }

    button {
        font-family: 'Poppins';
        border-radius: 20px;
        color: black;
        background-color: #fff;
        border: #fff;
        transition: all 0.5s;
    }

    button:hover {
        transform: scale(1.03);
    }
}
