.example-spacer {
    flex: 0.9 0.5 auto;
}


a {
    text-decoration: none;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}

* {
    font-family: 'Poppins';
    font-weight: bold;
    background: #A31621;
}

button {
    border: none;
    color: aliceblue;
    cursor: pointer;
}